# Email Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=waseemisle@gmail.com
SMTP_PASS=ideas927336

# Applicati  on URLs
NEXT_PUBLIC_APP_URL=http://localhost:3000
